.hero {
 
    height:500px;
    width:100%;
    background: rgb(242, 245, 245);
background: radial-gradient(circle, rgba(210,227,227,0.8970938717283788) 26%, rgba(242, 244, 244, 0.665) 84%);
 padding-top: 10px;
 overflow:hidden;
}

.hero .carousel .slider-wrapper {
    width: 80%;
    height: 400px;
    box-shadow: 0 2px 5px rgba(1, 0, 0, 01);
}
.hero .carousel .thumb {
    width: 5%;
    height: 50px;
}
.hero .carousel {
    text-align: center;
}


img {
    height:400px;
    
}