
.card {
    
    padding:5px;
    margin-right:10px;
    margin-left:10px;
    justify-content: space-around;
    height:400px;
    width:auto;
    background: radial-gradient(circle, rgba(210,227,227,0.8970938717283788) 26%, rgba(243, 245, 245, 0.344) 84%);
    box-shadow: 0 5px 5px rgba(79, 92, 26, 0.534);
}

.content p {
    justify-content: center;
    font-size: large;
    height:auto;
    
    
}
.proptype-list {
    display: flex;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border:1px solid black;
}

.img {
    height:300px;
    width:300px;
    border:1px solid black;
}

.btn {
    width:80px;
    height:40px;
  
}