.Registration {
   
    height: 420px;
    text-align: center;
    background: rgb(210,227,227);
background: radial-gradient(circle, rgba(210,227,227,0.8970938717283788) 26%, rgba(149,251,251,0.6646008745294993) 84%);
}
.register-row {
    display: flex;
    
    justify-content: center;
    margin-left: 100px;
    padding-top: 20px;
    height:100px;
    position: relative;

}
.Registration .register-row .register-btn {
    padding-top: 20px;
    justify-content: center;
}
.Registration .register-row .register-btn .button {
    width: 300px;
    height: 50px;
    border-radius: 0.5em;
    font-size: large;
    margin-bottom:15px;
}
.Registration .register-row .register-btn .button:hover {
    background-color: #027227;
    color: aliceblue;
}
.Registration .register-row table {
    box-shadow: 0 5px 5px rgba(79, 92, 26, 0.534);
    border-radius: 15px;
    position: absolute;
    right: 10%;
    background: radial-gradient(circle, rgba(210,227,227,0.8970938717283788) 26%, rgba(118, 182, 182, 0.601) 84%);
    color:rgb(12, 17, 17);
   
    margin-right:20px;
    
}

.Registration .register-row table tbody tr td {
    width: 300px;
    margin-top: 2px;
}
.Registration .register-row table tbody tr td .field {
    width: 300px;
}
.Registration .register-row table tbody tr td input {
    padding: 5px 5px;
    border-radius: 8px;
    transition: 0.4s;
    text-align: justify;
}
.Registration .register-row table tbody tr td input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.Registration .register-row table tbody tr td .button {
    width: 50px;
    height: 20px;
    background-color: rgb(194, 226, 253);
}
.Registration .register-row .field {
    width: 200px;
    margin: 10px;
    border: none;
    background-color: #e7faf2;
}
